#actuScreenContainer{
    color : white;
}
#actuScreenTitle{
    text-transform: uppercase;
    color : white;
}
#actuScreenArticlesContainer{
    padding : 10px;
    display : grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
}

@media (min-width : 580px){
    #actuScreenArticlesContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width : 950px){
    #actuScreenArticlesContainer{
        grid-template-columns: repeat(3, 1fr);/
    }
}

@media (min-width : 1200px){
    #actuScreenArticlesContainer{
        grid-template-columns: repeat(5, 1fr);
    }
}