.defaultButton {
    margin-top: 10px;
    border-radius: 30px;
    background-color : var(--nuance_color2);
    padding : 10px 20px;
    font-size: 16px;
    border : none;
    box-shadow: 0px 5px 10px -3px var(--nuance_color1);
    cursor : pointer;
    color : white;
    &:hover{
        background-color : var(--nuance_color4);
    }
    &:active{
        background-color: var(--nuance_color3);
    }
}