.defaultButton {
    margin-top: 10px;
    border-radius: 30px;
    /* width :200px; */
    background-color : var(--nuance_color2);
    padding : 10px 20px;
    font-size: 16px;
    border : none;
    box-shadow: 0 0 5px black;
    cursor : pointer;
    color : white;
    &:hover{
        background-color : var(--nuance_color4);
    }
    &:active{
        background-color: var(--nuance_color3);
    }
}