.fish-svg{
    position: absolute;
    width: auto;
    max-height : 170px;
    z-index: 10;
    pointer-events: none;
    }
.fishSVGItem {
 fill : white;
} 
.bublleFish{
    fill : white;
}
@media (min-width : 1024px) {
    .fishSVGItem, .bublleFish {
        fill : white;
    } 
}
