#homePanelScreenContainer{
    display : grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width : 100%;
}

.HomePanelscreenItemContainer{
    width : 100%;
    padding : 10px;
    background-color : var(--nuance_color3);
    border-radius : 25px;
    height : 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    &:hover{
        transform: scale(1.1);
    }
}

@media (min-width : 400px){
    #homePanelScreenContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width : 540px){
    #homePanelScreenContainer{
        grid-template-columns: repeat(3, 3fr);
    }
}