.titleH1 {
    display: inline-block;
    position: relative;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: fit-content;
    max-width: 100%;
    & > h1 {
        z-index: 2;
        box-sizing: border-box; /* Inclut padding/border dans la largeur calculée */
        display: inline-block;
        margin: 0;
        white-space: normal;
        white-space: nowrap;
        font-size: clamp(16px, 7vw, 60px);
        font-family: 'inter', sans-serif;
        font-weight: 700;
    }
} 

.carp {
    position: absolute;
    height : clamp(24px, 9.5vw, 70px);
    width : auto;
    opacity: 30%;
    top : 10px;
    right : 0px;
    z-index: 1;
}

#footerCarpTitle{
    color : white;
}

@media (min-width: 780px) {
    .titleH1 {
        & > h1 {
            font-size: clamp(20px, 9.5vw, 60px);
        }
    }
    .carp {
        top : 15px;
        right : -20px;
    }
    
}