/*header en desktop first */

#headerContainer {
    display : flex;
    max-width: 1920px;
    font-family: "Quicksand", serif;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight :700;
    font-size: 20px;
    padding : 0px 0px;
    height : 120px;
    color : var(--font_color);
    position : fixed;
    top : 0;
    width : 100%;
    background-color: var(--body_background);
    z-index : 99;
    border-bottom: 1px solid var(--nuance_color1);
}

#headerNav {
    display : flex;
    justify-content: space-evenly;
    padding : 0px;
    width : 90%;
}

#headerLogo {
    padding : 10px 10px;
    height : 54px;
}

.headerItem {
    display : flex;
    align-items: center;
    height: 70px;
    padding : 0px 10px;
    cursor : pointer;
    color : var(--link_color);
    position : relative;
    transition : 200ms;
    overflow: hidden;
        &:hover{
            color : var(--header_color);
            /* background-color : var(--nuance_color6); */
          
        }
        &::before{
            content : "";
            position : absolute;
            background-color: var(--header_color);
            width : 100%;
            height : 5px;
            left : 0px;
            bottom : 0px;
            transform-origin: 100% 0;
            transform : scaleX(0);
            transition : transform 0.4s;
            
        }
        &:hover::before {
            transform-origin: 100% 0;
            transform: scaleX(1);
            background-color: var(--header_color);
        }
        &.active::before {
            transform-origin: 0 0;
            transform: scaleX(1);
            background-color: var(--header_color);
        }
        &::after{
            content : "";
            position : absolute;
            background-color: var(--header_color);
            width : 100%;
            height : 5px;
            left : 0px;
            top : 0px;
            transform-origin: 0% 0%;
            transform : scaleX(0);
            transition : transform 0.4s;
        }
        &:hover::after {
            
            transform-origin: 0 100%;
            transform: scaleY(1);
            background-color: var(--header_color);
        }
        &.active::after {
            transform-origin: 0 100%;
            transform: scaleY(1);
        }
        &:active {
            color : var(--header_color);
            transition : 0s;
            &::before{
                background-color: var(--header_color);
            }
        }
  

}

#prefix__logoSymsee{
    width :auto;
    padding : 0px 0px 0px 10px;
    height : 100px;
}

#icons{
    padding : 0px 10px;
    font-size: 24px;
    cursor : pointer;
    display: none;
    color : var(--link_color)
}
.hasSubmenu > span {
    cursor: pointer;
    color : var(--link_color);
  }
  
  .submenu {
    color : var(--link_color);
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .hasSubmenu:hover > .submenu {
    display: block;
    color : var(--link_color);
  }
  .submenu li {
    padding: 10px 20px;
    white-space: nowrap;
  }
  
  .submenu li:hover {
    background-color: #f0f0f0;
  }
  
  /* Sous-menu visible */
  .submenu.open {
    display: block;
  }
@media(max-width : 1050px){
    .headerItem {
        padding : 0px 0px;
        margin : 5px 5px;
        font-size: 0.9rem;
    }
}
@media(max-width : 950px){
    .headerItem {
        padding : 0px 0px;
        margin : 5px 5px;
        font-size: 0.8rem;
    }
}

@media (max-width : 780px){
    #icons {
        display : block;
        width : 40px;
    }
    #icons:before{
        content : '\2630'
    }
    .active #icons:before{
        content : '\2715';
    }

    #headerNav{
        position : fixed;
        left : 100%;
        top : 105px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        transition : 0.25s;
        width : 100%;
        background-color: var(--body_background);
        border-radius: 0 0 20px 20px;
    }

    .active #headerNav{
        left : 0%;
    }

    .headerItem {
        padding : 30px 0px;
        height: auto;
        border-radius: 0px;
        background-color: #2a97e0;
        border-radius: 20px;
        margin : 5px 5px;
        font-size: medium;
        text-align : center;
        
        justify-content: center;
        color: white;
        &::before{
            height : 0px;
        }
        &::after{
            height : 0px;
        }
         &:hover{
            background-color: #186ca3;
            color : white;
        }
        &.active{
            background-color: #11496e;
        }
        &.active:hover{
            background-color: #186ca3;
        }
    }

}

