.aboutUsScreenItem {
    padding : 10px;
}
.aboutUsParagrapheContainer{
    padding-left : 10px;
    padding-right : 10px;
}
.aboutUsParagraphe{
    margin-top: 10px;
    line-height: 25px;
    text-align: start;
}

