#homeContainer {
    width:100%;
    
}

#HomeFirstSection {
    color : var(--font_color);
    text-align: center;
    display : flex;
    flex-direction: column;
    align-items: center;
    width : 100%;
    & img {
        width : 100%;
        object-fit: cover;
        max-height : 600px;
    }
}
#homeSliderContainer{
    width : 100%;
}
#homeMeteoContainer{
    border-radius: 50px 0 50px 0;
    background-color: var(--nuance_color6);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    width : 100%;
}
.homeMeteoTitles{
    background-color: var(--nuance_color2);
    color : var(--font_color2);
    padding : 10px;
    margin-bottom : 15px;
}
#homeMeteoFirstTitles{
    border-radius: 45px 0 0 0;
    height : 45px;
}
#homeMeteoiframe{
    padding : 15px 5px 0 5px;
    border : none;
    color : var(--font_color);
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    outline : none;
}

#HomeContactSection{
    height : 150px;
    margin-top : 50px;
    display : flex;
    flex-direction: column;
    align-items: center;
    color : white;
    font-size: 14;
}
@media (min-width : 780px) {
    #HomeContactSection{
        align-self: center;
        & #HomeContactSectionButton{
            align-self: center;
        }
    }
}

@media (min-width : 1024px){
    #HomeFirstSection {
        width :100%;
        flex-direction: column;
    }
    #homeSliderContainer{
        width : 100%;
    }
    #homeMeteoContainer{
        margin-top : 10px;
        width :400px;
    }
}