/* mobile first */
#homeContainer {
    width:100%;
    position : relative;
}

#HomeFirstSection {
    height: 400px;
    color : var(--font_color);
    text-align: center;
    display : flex;
    flex-direction: column;
    align-items: center;
    width : 100%;
    transition: 200ms;
    /* & img {
        width : 100%;
        object-fit: cover;
        max-height : 800px;
    } */
}

#homeCarteSection {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 20px;
    margin-top: 100px;
}

#HomeDocumentationSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top : 50px;
    padding-bottom: 50px;
    background-color: var(--section_background);
}

#homeMap{
    position: relative;
    width: 100%;
    max-width : 600px;
    margin : auto;
    height : auto;
    & button {
        position : absolute;
        margin-top: 10px;
        bottom : 20px;
        left: 25%;
    }
}
.map {
    width : 100%;
}

#cardDocContainer{
    display: flex;
    flex-direction: column;
    margin : auto;
    justify-content: center;
    margin: 50px 10px;
    max-width : 600px;
    gap : 10px;
}
.vigilence{
    position : absolute;
    display: flex;
    right : 10px;
    top : 30px;
    width : 160px;
    font-size: 20px;
    z-index : 2;
    background-color: rgba(255, 34, 34, 0.781);
    padding : 10px;
    border-radius: 15px;
    color : white;
    transition : 200ms;
    &:hover{
        cursor: pointer;
    }
}

#vigiCrue{
    top : 90px;
}
#Appel{
    top : 150px;
 
}

.iconVigi{
    margin-right: 5px;
    font-size: 22px;
}

.homearticle{
    width : 250px;
}
.ContactHomeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding-top : 50px;
    padding-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 500px;
}
.contactText{
    font-size : 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'quickSand', sans-serif;
    color: var(--font_color);
}
.phoneHomeButton{
    background-color: red;
    color : var(--font_color2);
    font-family: 'quickSand', sans-serif;
    display: block;
    margin-left : auto;
    margin-right : auto;
    margin-top : 20px; 
    border-radius : 20px;
    width : 100%;
    max-width : 300px;
    font-weight: 700;
    font-size: 16px;
    padding : 10px;
    text-align: center;
  
}

.homeParagraphe{
    font-size: 16px;
    margin-top : 20px;
    text-align: start;
}
#homeSliderContainer{
    width : 100%;
}
#homeMeteoContainer{
    border-radius: 50px 0 50px 0;
    background-color: var(--nuance_color6);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    width : 100%;
}
.homeMeteoTitles{
    background-color: var(--nuance_color2);
    color : var(--font_color2);
    padding : 10px;
    margin-bottom : 15px;
}
#homeMeteoFirstTitles{
    border-radius: 45px 0 0 0;
    height : 45px;
}
#homeMeteoiframe{
    padding : 15px 5px 0 5px;
    border : none;
    color : var(--font_color);
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    outline : none;
}

#HomeContactSection{
    height : 150px;
    margin-top : 50px;
    display : flex;
    flex-direction: column;
    align-items: center;
    color : white;
    font-size: 14;
    & button {
        margin-top: 10px;
    }
}
@media (min-width : 780px) {
    #HomeContactSection{
        align-self: center;
        & #HomeContactSectionButton{
            align-self: center;
        }
    }
    #HomeFirstSection {
       height : 600px;
       transition: 200ms;
    }
}

@media (min-width : 1024px){
    #HomeFirstSection {
        width :100%;
        flex-direction: column;
    }
    #homeCarteSection {
        display: flex;
        flex-direction: row;
    }
    #homeMap{
        position: relative;
        width: 100%;
        & >img{
            width : 100%;
            object-fit: contain;
            max-height : 600px;
        }
    }
    .ContactHomeContainer{
        display: flex;
        flex-direction: column;      
        align-items: center;
        padding-top : 50px;
        padding-bottom: 50px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .HomeContactItemContainer{
        margin-top : 40px;
        color : var(--font_color);
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        &>p{
            width :100%;
        }
    }
    .contactText{
        font-size : 20px;
        text-align: center;
    }

    #homeIntroText{
        width : 50%;
        text-align: center;
        margin : auto;
        line-height: 1.6;
        font-family: 'quickSand';
        font-weight: 400;
        
    }
    #cardDocContainer{
        flex-direction: row;
    }
    #homeSliderContainer{
        width : 100%;
    }
    #homeMeteoContainer{
        margin-top : 10px;
        width :400px;
    }
}