:root {
  /* color-scheme: light dark; 
   theme : light
  */
  --body_background: white;
  --font_color : rgb(0, 0, 0);
  --font_color2 :rgb(255, 255, 255);
  --font_color3 : #0c4a6e;

  --title_color : #0871B8;
  --body_color: rgba(255, 255, 255, 0.87);
  --link_color : #0871b8;
  --nuance_color1 : #0c4a6e;
  --nuance_color2 :#0369a1;
  --nuance_color3 : #0ea5e9;
  --nuance_color4 : #7dd3fc;
  --nuance_color5 : #e0f2fe;
  --nuance_color6 : #eff6ff;
  --Secondary-color : #66B32E;
  --fish_color : #0871B8;
  /* */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family : sans-serif;
  padding : 0px;
  margin : 0px;
}

[data-theme='dark'] {
  --primary_color : #4d4d4d;
  --body_background : rgb(40, 44, 52);
  --nuance_color1 : #222222;
  --nuance_color2 : #333333;
  --nuance_color3 : #535353;
  --nuance_color4 : #6b6b6b;
  --nuance_color5 :#a1a1aa;
  --nuance_color6 : #fafafa;
  --fish_color : #ffffff;

  --font_color : rgb(255, 255, 255);
  --font_color2 : rgb(255, 255, 255);
  --font_color3 : #a1a1aa;

  --link_color : rgb(255, 255, 255);
  --title_color : rgb(255, 255, 255);
}
/* :root:has(#dark:checked){
  --clr-body-bg : var(grey)
} */

* {
  box-sizing: border-box;  /* transition : all 0.3s ease-in-out;
 */
}

body {
  background-color: var(--body_background);;
  margin: 0;
  min-width: 320px;
  padding : 0px;
  width : 100%;
  display: flex;
}

body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #92cdf5; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #0871b8; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
}

h1, h2, h3, h4 {
  margin : 0;
  color : var(--title_color);
}
.title {
  display: inline-block; /* Change le comportement de la div */
  width: auto; /* S'ajuste à son contenu */
  padding: 10px; /* Facultatif : Ajoute un espace autour du texte */
  position: relative;
  &>span#decorationRight{
      &:before {
          content: "";
          position: absolute;
          right: 0px; /* Positionné à droite */
          top: 6px; /* Décalé vers le bas */
          width: 3px;
          height: 50%;
          transform: scaleX(1);
          background-color: #0369a1;
      }
  
      &:after {
          content: "";
          position: absolute;
          right: 0px; /* Positionné à droite */
          top: 6px; /* Décalé vers le bas */
          height: 3px;
          width: 25%;
          transform: scaleX(1);
          background-color: #0369a1;
      }
  }
  &>span#decorationLeft{
      &::before{
          content : "";
          position : absolute;
          left : 0px; 
          bottom : 6px;
          width : 3px;
          height : 50%;
          transform : scaleX(1);
          background-color: #0369a1;
        }
        &::after{
          content : "";
          position : absolute;
          left : 0px; 
          bottom : 6px;
          height : 3px;
          width : 25%;
          transform : scaleX(1);
          background-color: #0369a1;
        }
         /* Angle en haut à droite */

  }
}

p{
  font-size : 14px;
  margin: 0;
  color : var(--font_color)
}

a {
  text-decoration: none;
  color : var(--font_color);
}